
/* CSS For Hire Me Widget */

.hmw-available{ color:green; }

.hmw-unavailable{ color:red; }

a.hmw-btn{ 

  display: inline;
  margin: 30px auto;
  padding: 10px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}